@import "tailwindcss";

:root {
    /* Tema Oscuro (Default) */
    --background: #0B1120; /* Azul oscuro profundo */
    --foreground: #e2e8f0; /* Gris claro (slate-200) */
    --background-muted: #1e293b; /* Gris azulado (slate-800) */
    --foreground-muted: #94a3b8; /* Gris medio (slate-400) */
    --primary: #10b981; /* Esmeralda (emerald-500) */
    --primary-foreground: #ffffff; /* Texto blanco */
    --secondary: #1e293b; /* Gris azulado (slate-800) */
    --secondary-hover: #334155; /* Gris más oscuro (slate-700) */
    --border: #334155; /* Gris oscuro (slate-700) */
}

html.light {
    /* Tema Claro */
    --background: #ffffff; /* Blanco */
    --foreground: #0f172a; /* Gris muy oscuro (slate-900) */
    --background-muted: #f1f5f9; /* Gris muy claro (slate-100) */
    --foreground-muted: #64748b; /* Gris medio (slate-500) */
    --primary: #10b981; /* Esmeralda (emerald-500) */
    --primary-foreground: #ffffff;
    --secondary: #f1f5f9; /* Gris muy claro (slate-100) */
    --secondary-hover: #e2e8f0; /* Gris claro (slate-200) */
    --border: #e2e8f0; /* Gris claro (slate-200) */
}