@import "tailwindcss";

:root {
    /* Tema Oscuro (Elegante) */
    --background: #09090b; /* zinc-950 (Oscuro muy elegante) */
    --foreground: #fafafa; /* zinc-50 (Blanco suave) */
    --background-muted: #18181b; /* zinc-900 (Contraste sutil) */
    --foreground-muted: #a1a1aa; /* zinc-400 (Gris elegante) */
    --primary: #10b981; /* emerald-500 (Verde rentabilidad) */
    --primary-foreground: #ffffff;
    --secondary: #27272a; /* zinc-800 */
    --secondary-hover: #3f3f46; /* zinc-700 */
    --border: #27272a; /* zinc-800 */
}

html.light {
    /* Tema Claro */
    --background: #ffffff;
    --foreground: #09090b;
    --background-muted: #f4f4f5; /* zinc-100 */
    --foreground-muted: #71717a; /* zinc-500 */
    --primary: #059669; /* emerald-600 */
    --primary-foreground: #ffffff;
    --secondary: #e4e4e7; /* zinc-200 */
    --secondary-hover: #d4d4d8; /* zinc-300 */
    --border: #e4e4e7; /* zinc-200 */
}